.main{
    background-color:#ffffff;
    padding: 35px;
}


@media screen and (max-width:1120px){
    .main{
        background-color:#ffffff;
        padding: 10px !important;
    }
    
}
@media screen and (max-width:500px){
    .main{
        background-color:#ffffff;
        padding: 0px !important;
    }
    
}